---
title: Capability - Cloud or On-premise
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="page js-page" data-animation="default">
		<div class="page__scrollable">
			<div class="page__lines">
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
			</div>
			<div class="container page__container">
				<div class="inner page__inner">
					<div class="section js-page-content">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">Deploy ELLI-AI on-premise, in your private or public cloud</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							<p><a href="capability.html">Explore other capabilities</a></p>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<figure class="section__figure">
								<img src="img/f5b6b7_955cbf8a81f243f2aa0a19b6311ad13e_mv2.png" alt="image">
							</figure>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<p>As data privacy and enterprise policies are sensitive topics, ELLI-AI is able to run exclusively on premise or in the cloud.</p>
						</div>
						<ul class="list section__list">
							{% for item in [
								'<a href="https://www.cognigy.com" target="_blank">https://www.cognigy.com</a>',
								'<a href="https://dialogflow.com" target="_blank">https://dialogflow.com</a>'
							] %}
								<li class="list__item" data-animation-from="fade-bottom">{{item | safe}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="page__label js-page-label" data-animation-from="fade-bottom">2018 Elle AI Systems all right’s reserved</div>
			</div>
		</div>
	</div>

{% endblock %}