---
title: Home
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="fullscreen js-fullscreen">
		<div class="section section_bg fullscreen__section js-section js-fullscreen-section" data-theme="white">
			<div class="section__bg js-section-bg">
				<div class="section__bg-in section__bg-desktop">
					<video src="{{rootPath}}video/home-1.mp4" class="section__video" muted loop playsinline autoplay></video>
				</div>
				<div class="section__bg-in section__bg-mobile" style="background-image: url({{rootPath}}img/main-mobile.jpg);"></div>
			</div>
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<div class="section__content">
							<h1 class="title-xl section__title" data-animation-from="fade-bottom">{{main.title | safe}}</h1>
							<div class="section__footer">
								<div class="sm-box section__sm-box">
									<div class="sm-box__figure" data-animation-from="fade">
										<img src="{{rootPath}}img/multi-channel-white.png" alt="icon" class="sm-box__icon">
									</div>
									<div class="sm-box__content">
										<div class="sm-box__title" data-animation-from="fade-bottom">{{main.item.title | safe}}</div>
										<div class="sm-box__description" data-animation-from="fade-bottom">
											<p>{{main.item.description | safe}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section__label js-color-block" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		{#<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<div class="sm-info section__sm-info">
							<h2 class="title-lg sm-info__title" data-animation-from="fade-bottom">Designed for Service Operations with&nbsp;Service Operations Departments</h2>
							<div class="sm-info__description" data-animation-from="fade-bottom">
								<p>We are a team of passionate people concerned with business problems and their human and digital solutions.</p>
								<p>A world where digital products and services transform the configuration and experience of enterprise businesses.</p>
								<p>Discover human augmentation potential in enterprise businesses and create digital products and services enabled by AI technologies.</p>
							</div>
						</div>
						{% for item in [
							{ icon: 'multi-channel', title: 'Multi <br>Channel' },
							{ icon: 'acquire-tickets', title: 'Acquire <br>Tickets' },
							{ icon: 'services-notifications', title: 'Unavailable <br>Services Notifications' }
						] %}
							<div class="box section__box">
								<a href="#" class="box__inner">
									<div class="box__figure" data-animation-from="fade-bottom">
										<img src="{{rootPath}}img/{{item.icon}}.png" alt="icon" class="box__icon">
									</div>
									<div class="box__title" data-animation-from="fade-bottom">{{item.title | safe}}</div>
								</a>
							</div>
						{% endfor %}
					</div>
					<div class="section__label" data-animation-from="fade-bottom">2018 Elle AI Systems all right’s reserved</div>
				</div>
			</div>
		</div>#}
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">{{spend.title | safe}}</h2>
						<ul class="list">
							{% for item in spend.items %}
								<li class="list__item" data-animation-from="fade-bottom">{{item | safe}}</li>
							{% endfor %}
						</ul>
						<div class="section__description" data-animation-from="fade-bottom">
							<p>{{spend.description | safe}}</p>
							<figure class="section__figure" data-animation-from="fade-bottom">
								<video src="https://cdn.biteable.com/58/eb/7206396/6027089_58eb4dd609b0038c8db076b75dcb4ff7fd4f5049.mp4" controls poster="https://cdn.biteable.com/58/eb/7206396/6027089_58eb4dd609b0038c8db076b75dcb4ff7fd4f5049-poster-large.jpg"></video>
								{#<div class="section__iframe">
									<iframe frameborder="0" src="https://biteable.com/watch/embed/elli-aiexplainer-1823750/58eb4dd609b0038c8db076b75dcb4ff7fd4f5049?autoplay=0" allowfullscreen="true"></iframe>
								</div>#}
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">{{system.title | safe}}</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							{% for item in system.description %}
								<p>{{item | safe}}</p>
							{% endfor %}
							<figure class="section__figure" data-animation-from="fade-bottom">
								<img src="{{rootPath}}img/business-architecture-elli.png" alt="image">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<div class="sm-info section__sm-info">
							<h2 class="title-lg sm-info__title" data-animation-from="fade-bottom">{{help.title | safe}}</h2>
							<div class="sm-info__description" data-animation-from="fade-bottom">
								<p>{{help.description | safe}}</p>
							</div>
						</div>
						{% for item in help.items %}
							<div class="box section__box">
								<a href="use-cases.html" class="box__inner js-nav-link" data-href="use-cases.html">
									<div class="box__figure" data-animation-from="fade-bottom">
										{{mixins.icon(item.icon, 'box__icon', rootPath)}}
									</div>
									<div class="box__title" data-animation-from="fade-bottom">{{item.title | safe}}</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<div class="sm-info section__sm-info">
							<h2 class="title-lg sm-info__title" data-animation-from="fade-bottom">{{infrastructure.title | safe}}</h2>
						</div>
						{% for item in infrastructure.items %}
							<div class="box section__box">
								<a href="capabilities.html" class="box__inner js-nav-link" data-href="capabilities.html">
									<div class="box__figure" data-animation-from="fade-bottom">
										{{mixins.icon(item.icon, 'box__icon', rootPath)}}
									</div>
									<div class="box__title" data-animation-from="fade-bottom">{{item.title | safe}}</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<h2 class="title-md section__subtitle section__subtitle_full" data-animation-from="fade-bottom">{{testimonials.title | safe}}</h2>
						<div class="testimonials js-testimonials" data-animation-from="fade-bottom">
							{% for item in testimonials.items %}
								<div class="testimonials__slide">
									<p>{{item | safe}}</p>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
		<div class="section fullscreen__section js-section js-fullscreen-section">
			<div class="section__lines">
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
				<span class="section__line js-section-line"></span>
			</div>
			<div class="section__scrollable js-fullscreen-section-scrollable">
				<div class="container section__container">
					<div class="inner section__inner">
						<h2 class="title-md section__subtitle section__subtitle_full" data-animation-from="fade-bottom">{{subscribe.title | safe}}</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							{% for item in subscribe.description %}
								<p>{{item | safe}}</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="section__label" data-animation-from="fade-bottom">{{copyrights}}</div>
		</div>
	</div>

{% endblock %}
