---
title: Capability - Multi Channel
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="page js-page" data-animation="default">
		<div class="page__scrollable">
			<div class="page__lines">
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
			</div>
			<div class="container page__container">
				<div class="inner page__inner">
					<div class="section js-page-content">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">Easy access ELLI-AI via Multi Channel interfaces</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							<p><a href="capabilities.html">Explore other capabilities</a></p>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<figure class="section__figure">
								<img src="img/elli-feature-aquire-ticket.jpg" alt="image">
							</figure>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<p>Dialog with ELLI-AI through the preferred channel from standard chat apps (mobile or desktop) to voice assistants’ platforms.</p>
						</div>
						<ul class="list section__list">
							{% for item in [
								'Web client',
								'Chat platforms: Slack, Skype, Messenger, Whatsapp etc.',
								'Voice assistants: Google Assistant, Amazon Alexa/Echo',
								'Mobile or Desktop',
								'Interactive Voice Response'
							] %}
								<li class="list__item" data-animation-from="fade-bottom">{{item | safe}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="page__label js-page-label" data-animation-from="fade-bottom">Copyright © 2018, ELLI TECHNOLOGIES and the company of Accesa IT Group</div>
			</div>
		</div>
	</div>

{% endblock %}