---
title: Capability - Robotic Process Automation
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="page js-page" data-animation="default">
		<div class="page__scrollable">
			<div class="page__lines">
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
			</div>
			<div class="container page__container">
				<div class="inner page__inner">
					<div class="section js-page-content">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">Integrate with any robotic automated end2end service process or business process management platform</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							<p><a href="capabilities.html">Explore other capabilities</a></p>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<figure class="section__figure">
								<img src="img/iStock-870176228.jpg" alt="image">
							</figure>
						</div>
						<div class="section__description" data-animation-from="fade-bottom">
							<p>True business value for conversational user experience comes when things get done automatically upon voice controlling the technology platforms.</p>
						</div>
						<ul class="list section__list">
							{% for item in [
								'<a href="https://www.uipath.com" target="_blank">https://www.uipath.com</a>',
								'<a href="https://www.hcm.company" target="_blank">https://www.hcm.company</a>',
								'SharePoint'
							] %}
								<li class="list__item" data-animation-from="fade-bottom">{{item | safe}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="page__label js-page-label" data-animation-from="fade-bottom">Copyright © 2018, ELLI TECHNOLOGIES and the company of Accesa IT Group</div>
			</div>
		</div>
	</div>

{% endblock %}