---
title: Capability - Cloud or On-premise
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="page js-page" data-animation="default">
		<div class="page__scrollable">
			<div class="page__lines">
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
				<span class="page__line js-page-line"></span>
			</div>
			<div class="container page__container">
				<div class="inner page__inner">
					<div class="section js-page-content">
						<h2 class="title-md section__subtitle" data-animation-from="fade-bottom">Enable your IT departments with conversational AI to:</h2>
						<div class="section__description" data-animation-from="fade-bottom">
							<p><a href="capabilities.html">Explore other use cases</a></p>
						</div>
						<ul class="list section__list">
							{% for item in [
								'acquire tickets',
								'service notifications',
								'automatic routing',
								'serve knowledge base',
								'get service rating'
							] %}
								<li class="list__item" data-animation-from="fade-bottom">{{item | safe}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="page__label js-page-label" data-animation-from="fade-bottom">Copyright © 2018, ELLI TECHNOLOGIES and the company of Accesa IT Group</div>
			</div>
		</div>
	</div>

{% endblock %}