<!-- begin header -->
<header class="header js-header js-color-block">
	<button class="btn-nav js-nav-open" data-animation-from="fade-top">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<a href="#" class="sm-btn header__btn js-header-btn" data-animation-from="fade-top">{{demo}}</a>
	<a href="{{version.href}}" class="header__link js-header-btn js-lang" data-animation-from="fade-top">{{version.title}}</a>
	<div class="container">
		<div class="inner header__inner">
			<a href="{{rootPath}}index.html" class="logo js-logo" data-animation-from="fade-top">{{mixins.icon('logo', 'logo__icon', rootPath)}}</a>
		</div>
	</div>
</header>
<!-- end header -->