<!-- begin nav -->
<div class="nav js-nav">
	<div class="nav__container js-nav-container">
		<button class="btn-nav js-nav-close">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__list">
			{% for item in [
				{ title: 'Home' },
				{ title: 'About' },
				{ title: 'Blog' },
				{ title: 'News' },
				{ title: 'Contact' }
			] %}
				<li class="nav__item"><a href="#" class="nav__link" data-animation-from="fade-bottom">{{item.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- end nav -->