<!-- begin nav -->
<div class="nav js-nav">
	<div class="nav__container js-nav-container">
		<button class="btn-nav js-nav-close">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="nav__list">
			{% for item in [
				{ title: 'Home', href: 'home.html' },
				{ title: 'About', href: "about.html" },
				{ title: 'Blog', href: 'blog.html' },
				{ title: 'News', href: 'news.html' },
				{ title: 'Contact', href: 'contacts.html' },
				{ title: 'Use Cases', href: 'use-cases.html' },
				{ title: 'Capability', href: 'capability.html' }
			] %}
				<li class="nav__item"><a href="{{item.href or '#'}}" class="nav__link" data-animation-from="fade-bottom">{{item.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- end nav -->