{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {#<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>#}
    <title>ELLI-AI • ELLI Technologies Europe</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="{{rootPath}}css/app.css">

    <meta name="keywords" content="chatbot, virtual enterprise assistant, process automation, conversational, NLP"/>
    <meta name="description" content="Europe's most lean and cost-effective Virtual Enterprise Assistant that helps people in large companies work at least 10X faster in specific areas.">

    <meta property="og:site_name" content="ELLI-AI • ELLI Technologies Europe">
    <meta property="og:description" content="Europe's most lean and cost-effective Virtual Enterprise Assistant that helps people in large companies work at least 10X faster in specific areas.">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
    {% include 'partials/_header.html' %}
    {% include 'partials/_nav.html' %}
    <!-- BEGIN content -->
    <div id="barba-wrapper">
        <div class="barba-container js-barba-container" data-lang-title="{{version.title}}" data-lang-href="{{version.href}}" data-lang-folder="{{version.folder}}" data-path="{{rootPath}}">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="{{rootPath}}js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
