.page
	padding-top: 120px
	height: 100vh
	+md 
		padding-top: 0
		height: auto
	&.is-useless
		pointer-events: none
	&__scrollable
		overflow: auto
		padding-top: 40px
		padding-bottom: 40px
		height: 100%
		+md 
			padding-top: 0
			padding-bottom: 0
			height: auto
	&__container
		min-height: 100%
	&__lines
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		pointer-events: none
	&__line 
		position: absolute
		top: 0
		bottom: 0
		border-left: 1px solid gainsboro
		border-right: 1px solid gainsboro
		width: 20%
		opacity: 0.5
		transform: scaleY(0)
		transform-origin: center bottom
		+sm 
			border-left: none
			width: 1px 
		&:nth-child(1)
			left: 0
			+sm 
				left: 50%
		&:nth-child(2)
			left: 40%
			+sm
				display: none
		&:nth-child(3)
			left: 80%
			+sm
				display: none
	&__label
		position: fixed
		left: 45px
		bottom: 45px
		max-height: 100px
		color: #d1d1d1
		+f(9px, 500, 11px)
		letter-spacing: 0.005em
		text-align: left
		writing-mode: vertical-rl
		transform: scale(-1)
		// +md 
		// 	display: none
		+md 
			position: relative
			left: 0
			bottom: 0
			float: right
			padding: 15px 30px 40px
			max-width: 240px
			max-height: none
			text-align: right
			writing-mode: inherit
			transform: scale(1) !important