.title-xl
	font-family: $fontGotham
	+f(48px, 700, 1.25)
	letter-spacing: 0.005em
	+md 
		+f(36px, 900, 1.111)

.title-lg
	+f(38px, 900, 1.11)
	letter-spacing: 0.005em

.title-md
	+f(36px, 900, 1.11)
	letter-spacing: 0.005em