.icon-all {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-business {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-checked {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-cloud {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-industries {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-logo-full {
  width: 1.96em;
  height: 1em;
  fill: #1cc3f2;
}
.icon-logo {
  width: 0.95em;
  height: 1em;
  fill: #1cc3f2;
}
.icon-multi-channel {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-robotic {
  width: 1em;
  height: 1em;
  fill: #006DF0;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
