.icon-checked {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 1.96em;
  height: 1em;
  fill: #1cc3f2;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
